
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

footer{
    position: relative;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

main{
    height: 100%;
}

.fr{
    float: right;
}

.fl{
    float: left;
}

.flex-box{
    display: flex;
}

.container{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: lightskyblue;
}

#barra-navigazione{
    width: 200px;
    height: 100%;
    background-color: greenyellow;
}

 #container-main{
    width: calc(100% - 200px);
    height: 100%;
}

#container-upgrade{
    height: 100px;
    width: calc(100% - 200px);
    background-color: rgba(8,11,18,255);
    position: fixed;
    z-index: 100;
    justify-content: flex-end;
    align-items: center;    
}

#upgrade-button{
    font-size: 0.8em;
    font-weight: 700;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 7px 20px 7px 20px;
    margin-right: 10px;
}

#container-footer{
    height: 100px;
    width: 100%;
    background-color: magenta;
    z-index: 1000;
    position: absolute;
}
