
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

footer{
    position: relative;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

main{
    height: 100%;
}

nav img{
    height: 40px;
}

.fr{
    float: right;
}

.fl{
    float: left;
}

.flex-box{
    display: flex;
}

.container{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: lightskyblue;
}

.lista-sidebar{
    list-style: none;
    padding-top: 20px;
}

.lista-sidebar li{
    padding-top: 10px;
    font-size: 0.8em;
}

li i{
    font-size: 1.7em;
    padding-right: 10px;
}

.container-playlist h3{
    color: white;
    font-size: 0.9em;
    padding-top: 30px;
}

.container-playlist div{
    font-size: 0.8em;
    padding-top: 10px;
    
}

.container-playlist i{
    font-size: 2.8em;
    vertical-align: middle;
    padding-right: 5px;
}

.lista-playlist{
    list-style: none;
    padding-top: 15px;
}

.lista-playlist li{
    padding-bottom: 15px;
    font-size: 0.8em;
}

.container-profilo{
    height: 370px;
}

.profilo-download{
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

#barra-navigazione{
    width: 200px;
    max-height: calc(100vh - 100px);
    background-color: black;
    color: rgb(211, 211, 211);
    padding: 20px;
}

 #container-main{
    width: calc(100% - 200px);
    height: 100%;
}

#container-upgrade{
    height: 100px;
    width: calc(100% - 200px);
    background-color: rgba(8,11,18,255);
    position: fixed;
    z-index: 100;
    justify-content: flex-end;
    align-items: center;    
}

#upgrade-button{
    font-size: 0.8em;
    font-weight: 700;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 7px 20px 7px 20px;
    margin-right: 10px;
}

#container-footer{
    height: 100px;
    width: 100%;
    background-color: magenta;
    z-index: 1000;
    position: absolute;
}
